.bg-login{
    background-image: url("../img/bg-login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-logo{
        background-color: #5979a2;
}
